<body class="yel">
<%= form_with(model: business, local: true) do |form| %>
  <% if business.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(business.errors.count, "error") %> prohibited this business from being saved:</h2>

      <ul>
      <% business.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col -12 edit_pad">
  <div class="field">
    <p class="bb"><%= form.label :seller %></p>
    <p><%= form.text_field :seller %></p>
    
  </div>

  <div class="field">
    <p class="bb"><%= form.label :business_name %></p>
    <p><%= form.text_field :business_name %></p>
  </div>

   <div class="field">
    <p class="bb"><%= form.label :business_image %></p>
    <p><%= form.file_field :business_image %></p>
  </div>

  <div class="field">
    <p class="bb"><%= form.label :industry %></p>
    <p><%= form.text_field :industry %></p>
  </div>

  <div class="field">
    <p class="bb"><%= form.label :location %></p>
    <p><%= form.text_field :location %></p>
  </div>

  <div class="field">
    <p class="bb"><%= form.label :price %></p>
    <p><%= form.number_field :price %></p>
  </div>

  <div class="field">
    <p class="bb"><%= form.label :size %></p>
    <p><%= form.text_field :size %></p>
  </div>

  <div class="field">
    <p class="bb"><%= form.label :inclusions %></p>
    <p><%= form.text_field :inclusions %></p>
  </div>

  <div class="field">
    <p class="bb"><%= form.label :business_info %></p>
    <p><%= form.text_field :business_info %></p>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  </div>
<% end %>
</body>