<p id="notice"><%= notice %></p>

<body class="yel">
  <div class="col cust-col d-flex justify-content-around">
      <ul>
        <li class="toggle_bar"> <%= sortable "seller"%> </li>
        <li class="toggle_bar"> <%= sortable "business_name", "Business name"%> </li>
        <li class="toggle_bar"> <%= sortable "industry"%> </li>
        <li class="toggle_bar"> <%= sortable "location"%> </li>
        <li class="toggle_bar"> <%= sortable "inclusions"%> </li>
      </ul>
    </div>
  

  <div class="card-deck">
    <% @businesses.each do |business| %>
      <div class="card">
      <h5 class="card-title custcol font-edit"><%= business.business_name.capitalize! %></h5>
      <div class="container">
      <div class="col">
      <div class="row">
      <div class="col-5">
      <div class="card-img-top"><%= link_to(image_tag(business.business_image.small_thumb.url, alt: 'Image'), business.business_image.url, target: '_blank') if business.business_image? %></div>
      </div>
      <div class="col-6 custcolor">
      <div class="card-body">
        <p class="card-text-cust aleg">Price</p>
        <p class="card-text custcol">$<%= business.price %></p>
        <p class="card-text-cust aleg">Industry</p>
        <p class="card-text custcol"><%= business.industry.titleize %></p>
        <p class="card-text-cust aleg">Inclusions</p>
        <p class="card-text custcol"><%= business.inclusions.titleize %></p>
        <p class="card-text-cust aleg">Location</p>
        <p class="card-text custcol"><%= business.location.titleize %></p>
      </div>
      </div>
      </div>
      </div>
      </div>
      <div class="card-footer">
          <%= business.seller.capitalize! %>
          <%= link_to 'Show', business %>
      </div>
        

      </div>
    <% end %>
    </div>

<%= will_paginate @business%>
<br>

</body>