<p id="notice"><%= notice %></p>

<h1>Businesses</h1>

<%= form_tag businesses_path, :method => 'get', :id => "businesses_search" do %>

  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :business_name => nil %>
  </p>
  <div id="businesses"><%= render 'businesses' %></div>
<% end %>

<table class="pretty">
  <thead>
    <tr>
      <th><%= sortable "seller"%></th>
      <th><%= sortable "business_name", "Business name"%></th>
      <th><%= sortable "business_image", "Business Image"%></th>
      <th><%= sortable "industry"%></th>
      <th><%= sortable "location"%></th>
      <th><%= sortable "price"%></th>
      <th><%= sortable "size"%></th>
      <th><%= sortable "inclusions"%></th>
      <th><%= sortable "business_info", "Business info"%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @businesses.each do |business| %>
      <tr>
        <td><%= business.seller %></td>
        <td><%= business.business_name %></td>
        <td><%= link_to(image_tag(business.business_image.small_thumb.url, alt: 'Image'), business.business_image.url, target: '_blank') if business.business_image? %></td>
        <td><%= business.industry %></td>
        <td><%= business.location %></td>
        <td><%= business.price %></td>
        <td><%= business.size %></td>
        <td><%= business.inclusions %></td>
        <td><%= truncate(business.business_info, length: 15) %></td>
        <td><%= link_to 'Show', business %></td>
        <td><%= link_to 'Edit', edit_business_path(business) %></td>
        <td><%= link_to 'Destroy', business, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @business%>
<br>

<%= link_to 'New Business', new_business_path %>
