<p id="notice"><%= notice %></p>

<% item_price = @business.price%>
<body class="yel">
<div class="col-12">
<div class="row">
<h1 class="float-left">
  <%= @business.business_name.titleize %>
</h1>
</div>
</div>

<div class="col-12">
<div class="row">
<ul>
<li class=" toggle_bar1">
  <strong>Industry:</strong>
  <%= @business.industry.titleize %>
</li>

<li class=" toggle_bar1">
  <strong>Location:</strong>
  <%= @business.location.titleize %>
</li>

<li class=" toggle_bar1">
  <strong>Price:</strong>
  $<%= @business.price %>
</li>

<li class=" toggle_bar1">
  <strong>Size:</strong>
  <%= @business.size.titleize %>
</li>

<li class=" toggle_bar1">
  <strong>Inclusions:</strong>
  <%= @business.inclusions.titleize %>
</li>
</ul>
</div>
</div>

<div class="col-12">
<div class="row">
<div class="col-4">
<p>
<%#= image_tag(@business.business_image.url, alt: 'Image') if @business.business_image? %>
<%= link_to(image_tag(@business.business_image.thumb.url, alt: 'Image'), @business.business_image.url, target: '_blank') if @business.business_image? %>
</p>


</div>
<div class="col-4 bb">
<h2 class="bb">
Business info
</h2>
<p class="bb">
<%= @business.business_info.titleize %>
</p>
</div>
<div class="col-1">
</div>
<div class="col-3 bb">
<h2>
Seller Info
</h2>
<p>
  <strong>Seller:</strong>
  <%= @business.seller %>
</p>
</div>
</div>
</div>

<div class="edit_pad">
    <% if user_signed_in? %>
    <%= form_tag charges_path do %>
<%= hidden_field_tag "business_id", "#{@business.id}" %>
 <%= javascript_include_tag 'https://checkout.stripe.com/checkout.js',
   class: 'stripe-button',
   data: {
     key: ENV["PUBLISHABLE_KEY"],
     # total price x 100 because it must be in cents
     amount: item_price*100 ,
     name: "Buy Buy Business",
     description: @business.business_name,
     locale: "auto",
     currency: "aud"
   }
 %>
<% end %>
        <%= link_to 'Destroy', @business, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Edit', edit_business_path(@business) %> |
<%end%>
<%= link_to 'Back', businesses_path %>
</div>
</div>
</body>